[submodule "0x11-printf"]
	path = 0x11-printf
	url = git@github.com:MubarekSD/printf.git
[submodule "0x16-simple_shell"]
	path = 0x16-simple_shell
	url = git@github.com:MubarekSD/simple_shell.git
[submodule "0x19-stacks_queues_lifo_fifo"]
	path = 0x19-stacks_queues_lifo_fifo
	url = git@github.com:MubarekSD/monty.git
[submodule "0x1B-sorting_algorithms"]
	path = 0x1B-sorting_algorithms
	url = git@github.com:MubarekSD/sorting_algorithms.git
[submodule "0x1D-binary_trees"]
	path = 0x1D-binary_trees
	url = git@github.com:MubarekSD/binary_trees.git
